<code>
    {{!--{{ pretty }}--}}
    
    {{#each json in pretty}}
        {{#if json.hasPlus}}
            <i class="fa fa-plus-square-o plus-icon"></i>
        {{/if}}
        <span {{bind-attr class="json.class" style="json.style"}}>
            {{ json.element }}
        </span>
    {{/each}}
    
</code>