<h2 id='title'>Welcome to Ember.js</h2>

{{textarea value=jsonString cols="100" rows="10"}}

{{outlet}}

{{ ember-json-pretty jsonObj=this.model.menus
    options='{
        "keyColor":"#00FF7F",
        "keyHighlight":"#FAFAD2",
        "valueColor":"#FF0000",
        "valueHighlight":"#FFE4E1",
        "stringColor":"#551A8B",
        "stringHighlight":"#FFD39B",
        "braceColor":"#8B864E",
        "braceHighlight":"#FFD39B",
        "bracketColor":"#FFB90F",
        "bracketHighlight":"#90EE90"}' }}
